@import url('meta.less');

.menu {
    @basic_motion: max-height .3s, opacity .3s, height .3s, overflow .3s, visibility .3s;
    .__transition {
        -webkit-transition: @basic_motion;
        -o-transition: @basic_motion;
        transition: @basic_motion;
    }
    position: relative;
    border: 1px solid @gray_b;
    background: @white;

    ._item, ._title {
        padding: 5px 15px;
        cursor: pointer;
    }

    ._item {
        &._active {
            background: @gray_b;
        }
    }

    ._group {
        ._title {
            cursor: default;
            color: @gray_b;
        }
    }

    ._submenu {
        >._content {
            display: none;
        }
        &._active {
            >._content {
                display: block;
            }
        }
    }
}