@import url('meta');
@import url('share');

a {
    color: @blue;
}

body {
    font-size: 15px;
    line-height: 22px;
}

.container {
    width: 860px;
    padding: 20px;
    margin: 0 auto;
}

.header {
    padding: 3em 0 2em;
    color: @white;
    background: @black_b;
    ul>li {
        margin-bottom: .5em;
    }
    a {
        color: @yellow;
    }
}

.footer {
    text-align: right;
    a {
        color: @red;
    }
}

.wrapper {
    background: @white;
}

ul {
    ._display {
        padding: 5px 0;
        display: inline-block;
    }
    &.three>li {
        width: 33.3%;
        ._display;
    }
    &.two>li {
        width: 50%;
        ._display;
    }
}

#demo_list {
    padding-bottom: 150px;
    &>ol>li {
        padding: 10px 0;
        &>ol {
            list-style-type: square;
            &>li {
                padding: 10px 0;
            }
        }
    }
}