@import url('meta');
@import url('share');

@border: 1px solid transparent;
.layout_h {
    float: left;
    display: inline-block;
}

@{NS}.tab {
    .clearfix;
    &.top {
        ._item {
            .layout_h;
            border-top: @border; 
        }
    }

    &.bottom {
        ._item {
            .layout_h;
            border-bottom: @border;
        }
    }

    &.left ._item {
        border-right: @border;
    }

    &.right ._item {
        border-left: @border;
    }

    ._item {
        padding: 5px 10px;
        &._active {
            border-color: @gray_b;
        }
    }
}