@import url('meta.less');

@{NS}.menu {
    position: relative;
    border: 1px solid @gray_c;
    .menu {
        border: none;
    }

    ._item {
        padding: 3px 15px;
        cursor: pointer;
    }

    ._child {
        &._active {
            color: @gray;
            background: @gray_c;
        }
    }

    .menu {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .sub-menu {
        padding: 0;
        &._active {
            >._title {
                font-weight: bold;
                color: @black;
            }
            >.menu {
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                max-height: 500px;
                overflow: hidden;
            }
        }

    }

    ._title {
        color: @gray;
    }

    &._popped {
        .sub-menu {
            position: relative;
            .menu {
                background: @white;
                top: 0;
                position: absolute;
                width: 100%;
                left: 100%;
                border: 1px solid transparent;
            }
            &._active {
                >.menu {
                    overflow: initial;
                    border-color: @gray_c;
                }
            }
        }
    }
}