@import url('meta.less');

@{NS}.menu {
    position: relative;
    border: 1px solid @gray_c;

    ._item {
        padding: 3px 15px;
        cursor: pointer;
        &._disabled {
            color: @gray_b;
            cursor: not-allowed;
        }
    }

    ._child {
        &._active {
            color: @gray;
            background: @gray_c;
        }
    }

    .menu {
        border: none;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all .3s @motion;
        -o-transition: all .3s @motion;
        transition: all .3s @motion;
    }

    .sub-menu {
        padding: 0;
        &._active {
            >._title {
                font-weight: bold;
                color: @black;
            }
            >.menu {
                opacity: 1;
                -webkit-transition: all .4s @motion;
                -o-transition: all .4s @motion;
                transition: all .4s @motion;
                max-height: 500px;
                overflow: hidden;
            }
        }

    }

    ._title {
        color: @gray;
    }

    &._popped {
        .sub-menu {
            position: relative;
            .menu {
                visibility: hidden;
                overflow: hidden;
                background: @white;
                top: -1px;
                left: 100%;
                width: 100%;
                position: absolute;
                border: 1px solid transparent;
            }
            &._active {
                >.menu {
                    visibility: visible;
                    overflow: initial;
                    border-color: @gray_c;
                }
            }
        }
    }
}